
.rbc-image{
    height:auto;
    width:128px;
    vertical-align: middle;
    border-right: 3px solid #006AC2;
}
.logo {
    display:flex;
    align-items: center;
}

.top-header {
    padding: 20px;

}

.header-text {
    padding-left: 15px;
    margin-bottom: 0px;
    font-family: "Helvetica";
    font-size: 40px;
    color:#006AC2;
}

.navbar {

}

.header-content{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-link {
    margin:16px;
    color:#006AC2;
}

.body-container {
    padding-top: 15px;
}

.project_container {
}

.h1 {

}